.project {
    background-color: $gray-bg-color;
    padding: 15rem 0;

    @media (max-width: 1020px) {
        padding: 8rem 0;
    }

    .container {
        a {
            font-size: $text-size;
            text-decoration: none;
        }
    }

    .new-projects {
        font-size: 2.6rem;
        text-align: center;
        color: $black-shade;
    }
}